* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid cyan;  */
}

body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid cyan; */
    height: 100vh;
}

#title {
    font-size: 1.6em;
    height: 40px;
    padding: 3px;
}

.photoDisplay {
    height: calc(100vh - 180px);
    width: 80vw;
    height: 100vh;
    z-index: -1;
    /* border: 1px solid cyan; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.galleryArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
}

.gallery {
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: center; */
    height: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid cyan; */
    overflow: hidden;
    
}

.arrows {
    width: 80px;
    height: 100%;
    cursor: pointer;
    font-size: 4em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all ease-out 0.3s;
    /* filter: invert(0.4); */
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(0,0,0,0);
}

.arrowRight {
    background-image: url('../img/icons/arrow.png');
}

.arrowLeft {
    background-image: url('../img/icons/arrow.png');
    transform: scaleX(-1);
}

.arrows:hover {
    background-color: #444;
    border: 1px solid #555;
}

.arrowLeftEnd, .arrowRightEnd {
    background-size: 45%;
    opacity: 0;
    display: none;
}

.arrowLeftEnd {
    background-image: url('./images/icons/arrow-end.png');
    transform: scaleX(-1);
}

.arrowRightEnd {
    background-image: url('./images/icons/arrow-end.png');
}



.slide {
    width: auto;  /*10 photos + 45px of spaces between*/
    background-color: #444;
    /* display: flex; */
    /* justify-content: stretch; */
    /* border: 1px solid rgb(211, 13, 46); */
    height: 100%;
    white-space: nowrap;
    padding: 5px;

    margin-left: 0px;   /*Then -80 at every click to the right */
    transition: all ease-out 0.8s;
}

.photoWrapper {
    width: 80px;
    height: 50px;
    text-align: center;
    /* border: 1px solid cyan; */
    display: inline-block;
    margin: 0px 5px;
    transition: all ease-out 0.3s;
}

.photo {
    height: 100%;
    /* max-width: 100%; */
    width: auto;
    cursor: pointer;
    
    /* box-sizing: content-box; */
    background-position: bottom;
}